#content-container {
	margin-top: -56px;
	padding-top: 85px;
	padding-bottom: 35px;
	font-size: 1.1em;
	min-height: 100vh;
}
#content-container>.guider,
#content-container>.card-container {
	padding: 10px 8px;
}
.left-profile {
	padding-right: 5px;
	padding-left: 0;
}
.content-box {
	padding-right: 0;
	padding-left: 5px;
}
