#content-container {
	margin-top: 35px;
	margin-bottom: 100px;
}
#content-container>.guider, #content-container>.card-container {
	padding-left: 8px;
	padding-right: 8px;
}
.left-profile {
	padding-right: 5px;
	padding-left: 0;
}
.content-box {
	padding-right: 0;
	padding-left: 5px;
}
