html, body {
	height: 100%;
}
.content {
	min-height: 100%;
}
.content::before, .content::after {
	content: '';
	display: table;
	clear: both;
}
footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 80px;
	background-color: rgba(224, 229, 233, 0.53);
	box-shadow: 0 0 4px 0px rgba(162, 162, 163, 0.65);
}
footer .pull-left, footer .pull-right {
	height: 100%;
	padding: 5px 10px;
}
.lang-setting {
	height: 100%;
	line-height: 70px;
}
.lang-setting {
}
.web-info {
	padding-top: 15px;
	line-height: 20px;
}
.lang-setting>.lang-btn {
	outline: none;
}