.sample {
	margin: auto 5px auto 0;
	width: 50px;
	height: 20px;
	border-radius: 4px;
}
.sample-list>li:last-child>.sample-btn {
	margin-bottom: 0;
}
.sample-text {
	display: block;
	flex: 1;
}
.sample-btn {
	display: flex;
	margin-bottom: 10px;
	text-align: left;
	width: 100%;
	background-color: transparent;
	border-radius: 4px;
	border: none;
	padding: 6px 10px;
	line-height: 24px;
	outline: none;
	transition: .05s;
}
.sample-btn:hover, .active>.sample-btn {
	background-color: rgba(0,0,0,.22);
}
.log-count {
	margin: auto 0;
}
