.list-init {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
	user-select: none;
}
.list-init::after {
	content: '';
	display: table;
	clear: both;
}
.overflow-ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
h4, p {
	margin: 0;
}
html, body {
	height: 100%;
}
#content {
	position: relative;
	min-height: 100%;
	background-color: #f5f8fa;
}
#page-container {
	position: relative;
	min-width: 586px;
}
.container {
	height: 100%;
}
.profile-canopy-wrap {
	overflow: hidden;
}
.container>.profile-nav::before, .container>.profile-nav::after {
	content: none;
}
.profile-nav>li>a {
	height: 60px;
}
.user-name {
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	color: #000;
}
.user-email {
	font-size: 14px;
	line-height: 19px;
	color: #66757f;
}
.user-email:hover, .user-email:focus {
	text-decoration: none;
}
.user-email:hover .email-target {
	text-decoration: underline;
}
