.color-all { background-image: linear-gradient(45deg, #693ef5 36%, #ff7474 36%, #ff7474 64%, #6ace6a 64%); }
.color-primary { background-color: #693ef5; }
.color-feature { background-color: #ff7474; }
.color-optimize { background-color: #6ace6a; }

.list-init {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}
.clearfix::before,
.clearfix::after {
	content: '';
	display: table;
	clear: both;
}
.select-none {
	-moz-user-select: none;
	 -ms-user-select: none;
		 user-select: none;
}
.overflow-ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
h4, p {
	margin: 0;
}
@media (max-width: 841px) {
	.adapt-xs {
		width: 100% !important;
	}
}
#content {
	position: relative;
	background-color: #f5f8fa;
}
#page-container {
	position: relative;
	font-family: 'Segoe UI';
}
.container {
	height: 100%;
}
.profile-canopy-wrap {
	overflow: hidden;
}
.container>.profile-nav::before,
.container>.profile-nav::after {
	content: none;
}
.profile-nav>li>a {
	height: 60px;
}
.user-name {
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	color: #000;
}
.user-email {
	font-size: 14px;
	line-height: 19px;
	color: #66757f;
}
.user-email:hover,
.user-email:focus {
	text-decoration: none;
}
.user-email:hover .email-target {
	text-decoration: underline;
}
.bg-img {
	background-image: url(../imgs/rabbit-bg.jpg);
}
.module-container,
.sample-container {
	display: none;
}
.module-container>div {
	padding: 10px;
}

.fix-top {
	position: fixed !important;
	top: 0;
}
