.nav-top-menu>li>a {
	color: #000;
	text-decoration: none;
	display: block;
	height: 51px;
	font-size: 16px;
	line-height: 36px;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-bottom: 4px solid #000;
	transition: .15s;
}
.nav-text {
	display: inline-block;
}
.nav-top>.container {
	position: relative;
	z-index: 999;
}
.nav-top {
	position: relative;
	height: 46px;
	color: #fff;
	box-shadow: 0px 0px 8px 0 rgba(0, 0, 0, 0.45);
	z-index: 1;
}
.nav-top-menu {
	height: 46px;
}
.nav-top-menu>li {
	float: left;
	height: 100%;
}
.pos-mask {
	content: '';
	display: block;
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	margin: -8px;

	background-size: cover;
	background-repeat: no-repeat;
	filter: blur(4px);
	z-index: -1;
}
.bg-mask {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.26);
	overflow: hidden;
}
.nav-top-menu>li>a:hover,
.nav-top-menu>li>a:focus {
	background-color: rgba(255, 255, 255, 0.2);
	height: 46px;
}
.nav-top .active>a {
	height: 46px;
}