.profile-canopy {
	position: relative;
}
.profile-canopy-inner {
	height: 280px;
	margin-left: -8px;
	margin-right: -8px;
	background-image: url(../imgs/rabbit-bg.jpg);
	background-size: cover;
	background-position-y: -54px;
	background-repeat: no-repeat;
}
@media (max-width: 987px) {
	.profile-canopy-inner, .bg-mask::before {
		background-size: initial;
	}
	.profile-navbar>.rating {
		right: 10px;
	}
}
@media (min-width: 1100px) {
	.profile-canopy-inner {
		height: 300px;
	}
}
@media (min-width: 1200px) {
	.profile-canopy-inner {
		height: 320px;
	}
}
@media (min-width: 1370px) {
	.profile-canopy-inner {
		height: 360px;
	}
}
@media (min-width: 1450px) {
	.profile-canopy-inner {
		height: 380px;
	}
}
@media (min-width: 1510px) {
	.profile-canopy-inner {
		height: 420px;
	}
}
