#widgets {
	display: none;
}

.rating {
	position: absolute;
	top: -60px;
	right: 30px;
	height: 40px;
	width: 200px;
	border-radius: 4px;
	background-color: rgba(246, 178, 178, 0.9);
	filter: blur(4px);
}

.dot {
	display: block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
}
